<?xml version = '1.0' encoding = 'UTF-8'?>

<config>
	<globals>
		<data type="int" value="1024" name="WINDOW_WIDTH"/>
		<data type="int" value="600" name="WINDOW_HEIGHT"/>
		<data type="int" value="48" name="TILE_WIDTH"/>
		<data type="int" value="48" name="TILE_HEIGHT"/>
		<data type="int" value="250" name="GRAVITY"/>

		<data type="float" value="200" name="PLAYER_WALK_SPEED"/>
		<data type="float" value="500" name="PLAYER_JUMP_SPEED"/>
	</globals>

	<debug>
		<resources show="false"/>
		<collision show="false"/>
		<triggers show="false"/>
		<ai show="false"/>
	</debug>
</config>
